* {
    margin :0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

body{
    font-family: "Satoshi";
}

img{
    border-radius: 6px;
}

/*Button-hover*/
.blue-button{
    color: white;
    padding: 5.5px 48px;

    background-color: #015D97;
    border-radius: 6px;
}

.blue-button:hover{
    background-color: #0566A4;
}

.grey-button{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: white;

    padding: 5.5px 48px;
    background-color: #5E565A;
    border: none;
    border-radius: 6px;
}

.grey-button:hover{
    background-color: #655D61;
}
/*Button-hover*/

/* Navbar-Start */
.navbar {
    font-family: "Satoshi";

    display: flex;
    position: absolute;
    padding-right: 96px;
    padding-left: 96px;
    align-items: center;
    justify-content: space-between;

    height: 122px;
    width: 100%;
    
    box-sizing: border-box;
    background-color: white;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 48px;
}

.navbar a{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.contact{
    color:black;
}

/* Navbar-End */

/* Titles-Start */
h1{
    font-family: 'Orbikular';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;  

    color: white;

    max-width: 813px;
}

h2{
    font-family: 'Orbikular';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;

    padding: 10px 40px 10px 40px;

    border-radius: 6px;

    color: white;
    background-color: #5E565A;
}

h3{
    font-family: 'Orbikular';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

/* Titles-End */


header {
    padding-left: 202px;
    padding-right: 426px;
    padding-top: 449px;
    padding-bottom: 228px;
    background-image: url(images_homepage/homepage.png);
}

/*Présentation de la dordogne*/
.presentation{
    padding: 148px 0px 204px 0px;
}

.h2-presentation {
    position: absolute;
    width: 581px;
    margin-top: 24px;
}

.after-header{
    padding-left: 96px;
    padding-right: 96px;
}

#swimming-pool-img{
    position: absolute;
    width: 506px;
    height: 270px;
    left: 96px;
    top: 1188px;

}

#living-room-img{
    position: absolute;
    width: 718px;
    height: 530px;
    left: 626px;
    top: 1048px;
}

.p-presentation{
    position: absolute;
    width: 351px;
    height: 75px;
    left: 156px;
    top: 1494px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}
