* {
    margin :0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

.navbar {
    display: flex;
    position: absolute;
    padding-right: 96px;
    padding-left: 96px;
    align-items: center;
    justify-content: space-between;
    height: 122px;
    width: 100%;

    font-family: "Satoshi";
    
    box-sizing: border-box;
    background-color: white;
}

#logo{
    position: absolute;
    width: 172.16px;
    height: 48.21px;
    left: 96px;
    top: 32px;
    
    font-family: "Orbikular";
    font-weight: 700;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 48px;
}

.navbar a{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.blue-button{
    color: white;
    padding: 5.5px 48px;

    background-color: #015D97;
    border-radius: 6px;
}

.blue-button:hover{
    background-color: #0566A4;
}

/* Gites Sauvages - Saint-Seurin-de-Prats */
#main_title{
    position: absolute;
    top: 222px;
    left: 96px;

    color: #1D1D1F;
    font-family: "Orbikular";
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}

#top_image_one{
    position: absolute;
    border-radius: 6px;
    top: 326px;
    left: 96px;
}

#top_image_two{
    position: absolute;
    border-radius: 6px;
    top: 326px;
    left: 838px;
   }

#top_image_three{
    position: absolute;
    border-radius: 6px;
    top: 567px;
    left: 838px;
}

.blurred_image #top_image_four{
    position: absolute;
    border-radius: 6px;
    filter: blur(6px);
    top: 567px;
    left: 1102px;
}

.blurred_image #arrow{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 1191px;
    top: 648px;
}

.blurred_image:hover #top_image_four{
    filter: none;
}

.blurred_image:hover #arrow{
    opacity: 0%;
}

/* Les différents gîtes possible */
#gites_introduction {
    position: absolute;
    width: 589px;
    height: 80px;
    left: 96px;
    top: 932px;

    background: #5E565A;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    color: white;    
    font-family: 'Orbikular';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}

/* Sentence after "Les différents gîtes possible */
#introduction_sentence {
    position: absolute;
    width: 612px;
    height: 81px;
    left: 96px;
    top: 1036px;

    color: #1D1D1F;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

#image_gite_1 {
    z-index: 1;
    position: absolute;
    width: 506px;
    height: 333px;
    left: 96px;
    top: 1185px;
    border-radius: 6px;
}

#title_gite_1 {
    z-index: 2;
    position: absolute;
    width: 132px;
    height: 43px;
    left: 518px;
    top: 1173px;

    color: #1D1D1F;
    font-family: 'Orbikular';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    background: #FFFDFA;
    border-radius: 6px;
    stroke: black;

    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

#bouton_gite_1 {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 186px;
    height: 48px;
    left: 392px;
    top: 1446px;

    color: white;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    background: #5E565A;
    border-radius: 6px;
}

#sentence_gite_1 {
    position: absolute;
    width: 506px;
    height: 135px;
    left: 626px;
    top: 1272px;

    color: #1D1D1F;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

#image_gite_2 {
    z-index: 1;
    position: absolute;
    width: 506px;
    height: 333px;
    left: 96px;
    top: 1554px;
    border-radius: 6px;
}

#title_gite_2 {
    z-index: 2;
    position: absolute;
    width: 132px;
    height: 43px;
    left: 518px;
    top: 1542px;

    color: #1D1D1F;
    font-family: 'Orbikular';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;


    background: #FFFDFA;
    border-radius: 6px;
    stroke: black;

    
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

#bouton_gite_2 {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 186px;
    height: 48px;
    left: 392px;
    top: 1815px;

    color: white;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    background: #5E565A;
    border-radius: 6px;
}

#sentence_gite_2 {
    position: absolute;
    width: 506px;
    height: 135px;
    left: 626px;
    top: 1641px;

    color: #1D1D1F;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

#image_gite_3 {
    z-index: 1;
    position: absolute;
    width: 506px;
    height: 333px;
    left: 96px;
    top: 1923px;
    border-radius: 6px;
}

#title_gite_3 {
    z-index: 2;
    position: absolute;
    width: 132px;
    height: 43px;
    left: 518px;
    top: 1911px;


    color: #1D1D1F;
    font-family: 'Orbikular';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;


    background: #FFFDFA;
    border-radius: 6px;
    stroke: black;

    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

#bouton_gite_3 {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 186px;
    height: 48px;
    left: 392px;
    top: 2184px;

    color: white;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    background: #5E565A;
    border-radius: 6px;
}

#sentence_gite_3 {
    position: absolute;
    width: 504px;
    height: 135px;
    left: 626px;
    top: 2010px;

    color: #1D1D1F;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 2em;
    height: 2em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

#checkbox1{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1190px;
    top: 1185px;
}

#checkbox2 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1190px;
    top: 1554px;
}

#checkbox3 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1190px;
    top: 1923px;
}

#recap {
    position: absolute;
    width: 239px;
    height: 60px;
    left: 96px;
    top: 2312px;

    color: #1D1D1F;
    font-family: 'Orbikular';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}

#recap_sentence {
    position: absolute;
    width: 506px;
    height: 110px;
    left: 96px;
    top: 2388px;

    color: #1D1D1F;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

#recap_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 188px;
    height: 48px;
    left: 1094px;
    top: 2465px;

    color: white;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    background: #015D97;
    border-radius: 6px;
}

#text_recap_1 {
    z-index : 1;
    width: 108px;
    height: 27px;

    position: absolute;
    width: 556px;
    height: 48px;
    left: 726px;
    top: 2393px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#text_recap_2 {
    z-index : 1;
    width: 152px;
    height: 27px;

    position: absolute;
    width: 556px;
    height: 48px;
    left: 886px;
    top: 2393px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#text_recap_3 {
    z-index : 1;
    width: 52px;
    height: 27px;

    position: absolute;
    width: 556px;
    height: 48px;
    left: 1086px;
    top: 2393px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#text_recap_4 {
    z-index : 1;
    width: 92px;
    height: 27px;

    position: absolute;
    width: 556px;
    height: 48px;
    left: 1186px;
    top: 2393px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#about_title {
    position: absolute;
    width: 498px;
    height: 60px;
    left: 96px;
    top: 2660px;

    color: #1D1D1F;
    font-family: 'Orbikular';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}

#water_title {
    position: absolute;
    width: 185px;
    height: 48px;
    left: 97px;
    top: 2756px;
    
    color: #1D1D1F;
    font-family: 'Orbikular';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

#water_describe {
    position: absolute;
    width: 191px;
    height: 132px;
    left: 130px;
    top: 2828px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #1D1D1F;
}

#cook_title {
    position: absolute;
    width: 111px;
    height: 48px;
    left: 414px;
    top: 2756px;
    
    color: #1D1D1F;
    font-family: 'Orbikular';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

#cook_describe {
    position: absolute;
    width: 157px;
    height: 237px;
    left: 447px;
    top: 2828px;
    
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #1D1D1F;
}

#general_title {
    position: absolute;
    width: 118px;
    height: 48px;
    left: 734px;
    top: 2756px;
    
    color: #1D1D1F;
    font-family: 'Orbikular';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

#general_describe {
    position: absolute;
    width: 116px;
    height: 132px;
    left: 767px;
    top: 2828px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #1D1D1F;
}

#sleep_title {
    position: absolute;
    width: 153px;
    height: 48px;
    left: 1050px;
    top: 2756px;
    
    color: #1D1D1F;
    font-family: 'Orbikular';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

#sleep_describe {
    position: absolute;
    width: 116px;
    height: 132px;
    left: 1083px;
    top: 2828px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #1D1D1F;
}

#check1 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 97px;
    top: 2825px;
}

#check2 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 97px;
    top: 2878px;
}

#check3 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 97px;
    top: 2933px;
}

#check4 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 97px;
    top: 2988px;
}

#check5 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 414px;
    top: 2823px;
}

#check6 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 414px;
    top: 2878px;
}

#check7 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 414px;
    top: 2933px;
}

#check8 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 414px;
    top: 3015px;
}

#check9 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 414px;
    top: 3068px;
}

#check10 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 414px;
    top: 3123px;
}

#check11 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 734px;
    top: 2825px;
}

#check12 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 734px;
    top: 2878px;
}

#check13 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 734px;
    top: 2933px;
}

#check14 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 734px;
    top: 2988px;
}

#check15 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 1050px;
    top: 2825px;
}

#check16 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 1050px;
    top: 2878px;
}

#check17 {
    position: absolute;
    width: 20px;
    height: 27px;
    left: 1050px;
    top: 2958px;
}
